@model UniversityManagementSystem.Models.Course

@{
    ViewBag.Title = "Create";
}
<style>
    .SizeA{
        overflow:hidden;
        margin-bottom:150px;
    }
    </Style>
<link href="~/Content/Validationcss.css" rel="stylesheet" />
<link href="~/Content/materialize/css/materialize.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <br />
 
     @*<div class="form-horizontal SizeA">
    <div class="panel panel-default">
        <div class="panel-heading text-center">Course</div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CourseCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CourseCredit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CourseCredit, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseCredit, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CourseDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.CourseDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.depCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(c => c.depCode, ViewBag.departments as IEnumerable<SelectListItem>,"-----Select Department-----", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.depCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SemesterID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(c => c.SemesterID, ViewBag.semesters as IEnumerable<SelectListItem>,"-----Select Semester-----", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SemesterID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

        <div class="col-md-offset-5 col-md-10" style="color:green">
            @ViewBag.Message

        </div>
        <div class="col-md-offset-5 col-md-10" style="color:red">
            @ViewBag.errMessage

        </div>
    </div>
</div>*@


    <div class="">
        <div class="modal-dialog" style="margin-bottom:0">
            <div class="modal-content">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Course</h3>
                </div>
                <div class="panel-body">
                    <form role="form" name="myForm">
                        <fieldset>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CourseCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.CourseCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CourseCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CourseCredit, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.CourseCredit, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CourseCredit, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CourseDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.CourseDescription, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CourseDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.depCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(c => c.depCode, ViewBag.departments as IEnumerable<SelectListItem>, "-----Select Department-----", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.depCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SemesterID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(c => c.SemesterID, ViewBag.semesters as IEnumerable<SelectListItem>, "-----Select Semester-----", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SemesterID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>

                            <div class="col-md-offset-5 col-md-10" style="color:green">
                                @ViewBag.Message

                            </div>
                            <div class="col-md-offset-5 col-md-10" style="color:red">
                                @ViewBag.errMessage

                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>

}


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
