<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/skin-blue.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/app.min.js"></script>
    @* @Scripts.Render("~/bundles/modernizr")*@

</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="~/Views/Home/Index.cshtml" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span><b>S</b>harp</span>
                <!-- logo for regular state and mobile devices -->
                <span><b>University</b></span>
            </a>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">




                <ul class="sidebar-menu">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>


                    <li>@Html.ActionLink("Add Department", "Save", "Department")</li>
                    <li>@Html.ActionLink("Show Department", "GetAllDepartment", "Department")</li>


                    <li>@Html.ActionLink("Add Course", "Save", "Course")</li>
                    <li>@Html.ActionLink("Add Teacher", "Save", "Teacher")</li>

                    <li>@Html.ActionLink("Course Assign To Teacher", "SaveCourseAssign", "CourseAssign")</li>
                    <li>@Html.ActionLink("Show Course Statics", "CourseStatics", "CourseAssign")</li>
                    <li>@Html.ActionLink("Register Student", "Save", "Student")</li>
                    <li>@Html.ActionLink("Allocate Classrooms", "AllocateRoom", "AllotedRoom")</li>
                    <li>@Html.ActionLink("Class Schedule & Room info", "CourseSchedule", "AllotedRoom")</li>






                    <li>@Html.ActionLink("Enroll in Course", "SaveEnrollCourse", "CourseEnroll")</li>
                    <li>@Html.ActionLink("Save Student Result", "SaveResult", "ResultEnrolled")</li>
                    <li>@Html.ActionLink("View Result", "ViewResult", "ResultEnrolled")</li>


                    <li>@Html.ActionLink("Unassign All Course", "UnassignCourse", "CourseAssign")</li>
                    <li>@Html.ActionLink("Unallocate All Classroom", "UnallocateClassRoom", "AllotedRoom")</li>

                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                <b>Developed by Md. Sahid Hossain (Jahid)</b>

            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2017 <a href="#">UCRMS</a>.</strong> All rights reserved.

        </footer>


    </div>
    @*<script src="../Scripts/jquery-1.9.1.js"></script>
        <script src="../Scripts/bootstrap.min.js"></script>*@
    <script src="../Scripts/app.min.js"></script>

    @Scripts.Render("~/bundles/jquery")

</body>
</html>
